.boundary{
    height: 10px;
    background-color: white;
}
.btn{
    padding-bottom:10% ;
}
#title {
    background-color: #0e0101;
    padding: 1% 0%;
}
.searchbar{
    width: 50%;
    padding-right: 10%;
}
.navbar-brand {
    font-family: "Montserrat";
    font-weight: 900;
}

.testimonial-img {
    height: 500px;
    width: 800px;
}
.carousel-item {
    text-align: center;
}
#testimonials {
   background-color: black;
   padding: 2% 1%;
}
#trending {
    background-color: #0e0101;
    height: 500px;
}
/* trending */
.H1 {
    font-family: "montserrat";
    color: white;
}
p {
    font-family: "montserrat";
    color: black;
}
.img-wrapper{
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (min-width: 576px){
    .carousel-inner1 {
        display:flex;
    }
    .carousel-item1 {
        display:block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
    .img-wrapper{
        height: 23vw;
    }
}
.carousel-inner1 {
    padding: 1em;
}
.card{
    margin: 0 0.5em;
}
.img1 {
    height:350px;
    width:500px;
}
/* player */
.bottom {
    height: 100px;
    background-color: black;
    opacity: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon {
    color: white;
    margin: 0 5px;
}
.icon1 {
    color: white;
    margin-right: 50px;
}
.icon3 {
    color:white;
    margin-left: 50px;
}
#myProgressBar {
    width: 80%;
    padding: 1% 0%;
}
span {
    color: white;
}
/* footer */
.footer1{
    height: 500px;
    
}
#footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10%;
}
#footer p{
    color: white;
}
.icon2:hover {
    color:#8f8f8f;
}
.icon2 {
    margin: 5% 3% 1% 0%;
}
